.header {
	margin-top: 80px;
	border-bottom: 1px solid  #d4e9fc;
	border-top: 1px solid  #d4e9fc;
	padding-top: 5px;
	padding-bottom: 15px;

	&__container {
	}

	&__menu {
	}
}
.menu {
	&__icon {
	}

	&__body {
	}

	&__list {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		@include adaptiveValue("gap",50 ,10,1100,768,1 );
	}

	&__item ul {
		display: none;   
		border: 1px solid#d4e9fc;
		border-top: none;
		margin-top: 15px;
		padding: 10px;
	}
	&__item ul li {
	margin-bottom: 10px; 
	
	}
	&__item ul li a{
	margin-bottom: 10px; 
	font-size: rem(20);
	
	}
	&__item  {
		position: relative;
		background-color: #fff;
	}
	&__item:hover ul {
		display: block;
		position: absolute;
		padding-top: 20px;
		left: -70px;
		min-width: 200px;
		z-index: 10;
		background-color: #fff;
	
		
	}

	&__link {
		letter-spacing: .01875rem;
    line-height: 1.2;
    text-transform: uppercase;
    text-decoration: none;
    color: #222;
	}
}
